.chat-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.message {
  margin-top: 6rem;
}

.chat-content-admin {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.chats-list {
  margin: 1rem 0;
}

.left {
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 2px;
  min-width: 350px;
  padding: 5px;
}

.right {
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 2px;
  min-width: 350px;
  padding: 5px;
}

.message-form {
  display: flex;
  margin: 1rem 0;
}

.btn-send {
  color: white;
  border-color: #8a3033;
  background-color: #8a3033;
  margin-left: 0.2rem;
}

.btn-send:hover {
  color: white;
  border-color: #963438;
  background-color: #963438;
}

.link-voltar {
  align-items: center;
  display: flex;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .5rem;
  text-decoration: none;
}

.link-voltar:hover {
  color: black;
}

.seta {
  width: 2rem;
  margin-right: 1rem;
}
