.chat-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.chat-content-admin {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.left {
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 2px;
  min-width: 350px;
  padding: 5px;
}

.right {
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 2px;
  min-width: 350px;
  padding: 5px;
}

.message-form {
  display: flex;
  margin-top: 1rem;
}
