.order-details-page {
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

.admin-order-details-page {
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.delivery-button {
  width: 25rem;
  margin: 20px 0;
  color: white;
  border-color: #8a3033;
  background-color: #8a3033;
  margin: 1rem auto;
}

.delivery-button {
  color: white;
}
